@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");
@import './styles/colors';

html,
body {
  margin: 0;
}

* {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

//Score
.score-container {
  background-color: $background-special;
  padding: 18px 158px 23px 159px;
  text-align: center;
  font-size: 32px;
}

//Card
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 138px);
  grid-auto-rows: 1fr;
  gap: 16px 16px;
  margin: 0 auto;
  width: fit-content;
  padding: 24px 0 33px 0;

  .card {
    padding: 20px 0;
    text-align: center;
    border-radius: 6px;
    border: solid 1px $primary-color;
    background-color: $primary-color;
    color: $text-color;
    cursor: pointer;
    height: 75px;
    font-size: 16px;
  
    &:hover,
    &:focus {
      background-color: $secondary-color;
    }
  
    &.selected{
      background-color: initial;
      color: $primary-color;
      border: solid 1px $primary-color;
    }
  
    &.matched{
      color: $yes;
    }
  
    &.no-match {
      color: $no;
    }

    .logo-placeholder {
      max-height: fill;
    }
  }
}

//Footer
.footer {
  > button{
    width: 50%;
    padding: 19px 40px 19px 40px;
    font-size: 20px;
    border: none;
    color: $text-color;
    cursor: pointer;
  }

  .start-button {
    background-color: $secondary-color;
  
    &:hover,
    &:focus {
      background-color: $primary-color;
    }
  }
  
  .try-new-pair-button {
    background-color: $button;
  
    &:hover,
    &:focus {
      background-color: $btn-hover;
    }
  }
}